//To update run: ./node_modules/.bin/node-sass --verbose --include-path node_modules public/vanilla.scss public/vanilla.css
//TODO include this in the webpack build

$color-brand: #292929;
$color-navigation-background: #292929;
$grid-max-width: 1200px;
$shelves-max-width: 1200px;

@import 'vanilla-framework/scss/build.scss';

// Hide the arrow on select boxes
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.center {
    text-align: center;
}

.background-green {
    background-color: #3fb24f;
}

.background-red {
    background-color: #fc4949;
}

.background-orange {
    background-color: #dd4814;
}

.background-purple {
    background-color: #762572;
}

.background-blue {
    background-color: #1ab6ef;
}

.background-lightgrey {
    background-color: #888888;
}

.background-darkgrey {
    background-color: #5d5d5d;
}

.background-white {
    background-color: #f5f5f5;
}

.text-green {
    color: #3fb24f;
}

.text-red {
    color: #fc4949;
}

.text-orange {
    color: #dd4814;
}

.text-purple {
    color: #762572;
}

.text-blue {
    color: #1ab6ef;
}

.text-lightgrey {
    color: #888888;
}

.text-darkgrey {
    color: #5d5d5d;
}

.text-white {
    color: #f5f5f5;
}
