<div class="row">
    <div class="col-sm-12">
        <h1>Docs</h1>

        <ul>
            <li>
                <a href="/docs/#install">How to Install</a>
            </li>
        </ul>

        <div>
            <a id="install"></a>
            <h3>How to Install</h3>
            <ol>
                <li>
                    <a href="/app/openstore.mzanetti">
                        Download the Open App Store
                    </a>
                </li>
                <li>Open the terminal app</li>
                <li>Navigate to the downloads folder</li>
                <li>Run the command <code>pkcon install-local --allow-untrusted openstore.mzanetti_&lt;version&gt;_armhf.click</code></li>
            </ol>
        </div>
    </div>
</div>
