<div>
    <div class="row">
        <div class="col-sm-12">
            <a ng-click="edit(newPackage())" data-role="button" class="primary clickable pull-right">
                <i class="fa fa-plus"></i>
                New Package
            </a>

            <h3>
                Packages
                <i class="fa fa-spinner fa-spin" ng-if="loading"></i>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Version</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="package in packages|orderBy:'name'">
                        <td ng-bind="package.id"></td>
                        <td ng-bind="package.name"></td>
                        <td ng-bind="package.author"></td>
                        <td ng-bind="package.version"></td>
                        <td ng-bind="package.category"></td>
                        <td>
                            <a ng-click="stats(package)" class="clickable text-blue" title="Stats"><i class="fa fa-info-circle"></i></a>
                            <a ng-click="edit(package)" class="clickable text-green" title="Edit"><i class="fa fa-edit"></i></a>
                            <a ng-click="remove(package)" class="clickable text-red" title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
