<div class="row">
    <div class="col-sm-12">
        <h3>Rules for Submission</h3>

        <ul>
            <li>
                If an application can be published in the official Ubuntu store,
                publish it there.
            </li>
            <li>
                If an application could be published in the official Ubuntu store
                if it wouldn’t be about that one cool feature, publish a stripped
                down version in the official store! Not everyone should and will
                have OpenStore installed.
            </li>
            <li>
                Only open source applications allowed: As the applications might
                have arbitrary access to the device, every submitted app will
                get a review and the source code is published along with the app.
            </li>
        </ul>

        <h3>Gettings Started</h3>
        <ul>
            <li>
                Add an additional .apparmor file to your project (.apparmor.openstore)
                requesting the special permissions you need.
            </li>
            <li>
                Send me a link to a branch for your app to michael.zanetti@ubuntu.com
                along with some instructions on how to build it if they differ
                from the standard (Ubuntu SDK).
            </li>
            <li>
                Give a short explanation why you can’t publish that in the official
                store. No need to go into details, a one liner like “needs to keep
                the display lit” will do. List all the special features you have,
                if there are more.
            </li>
        </ul>
    </div>
</div>
