<!DOCTYPE html>
<html lang="en" ng-app="openstore">
    <head>
        <title>OpenStore</title>
        <base href="/" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        <link rel="icon" type="image/png" href="/assets/img/logo.png">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/5.0.3/ng-file-upload-all.min.js"></script>

        <script src="/app.js"></script>
        <script src="/controllers/appsCtrl.js"></script>
        <script src="/controllers/indexCtrl.js"></script>
        <script src="/controllers/submitCtrl.js"></script>
        <script src="/controllers/manageCtrl.js"></script>
        <script src="/filters/bytes.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu" />

        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/ubuntu.css" />

        <style>
            .ng-cloak {
                display: none !important;
            }
        </style>
    </head>
    <body ng-controller="indexCtrl">
        <nav class="navbar navbar-default" role="navigation" data-role="header">
            <div class="container">
                <div class="navbar-header">
                    <div data-role="actions" class="visible-xs visible-sm">
                        <button type="button" data-role="actions-overflow-icon" ng-click="opened = !opened"></button>
                        <div data-role="actions-overflow-list" ng-class="{opened: opened}">
                            <ul>
                                <li>
                                    <a href="/submit" ng-click="opened = false">Submit</a>
                                </li>
                                <li>
                                    <a href="/apps" ng-click="opened = false">Browse</a>
                                </li>
                                <li>
                                    <a href="/docs" ng-click="opened = false">Docs</a>
                                </li>
                                <li>
                                    <a href="https://launchpad.net/~openstore-team" ng-click="opened = false">Source</a>
                                </li>
                                <li>
                                    <a href="/app/openstore.mzanetti" ng-click="opened = false">Download</a>
                                </li>
                                <li ng-show="$state.current.name != 'manage'">
                                    <a class="clickable" ng-click="loginModal(); opened = false">Log In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="navbar-brand ng-cloak" href="/apps" ng-if="$state.current.name == 'app'">
                        <div data-role="back-btn"></div>
                        OpenStore
                    </a>
                    <a class="navbar-brand" href="/" ng-if="$state.current.name != 'app'">
                        <div data-role="back-btn" ng-if="$state.current.name != 'main'"></div>
                        OpenStore
                    </a>
                </div>

                <div class="navbar-collapse navbar-right hidden-xs hidden-sm">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/submit">Submit</a>
                        </li>
                        <li>
                            <a href="/apps">Browse</a>
                        </li>
                        <li>
                            <a href="/docs">Docs</a>
                        </li>
                        <li>
                            <a href="https://launchpad.net/~openstore-team">Source</a>
                        </li>
                        <li>
                            <a href="/app/openstore.mzanetti">Download</a>
                        </li>
                        <li ng-show="$state.current.name != 'manage'">
                            <a class="clickable" ng-click="loginModal()">Log In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" data-role="content">
            <div data-role="tab" ui-view></div>
        </div>
    </body>
</html>
