<div class="row app">
    <div class="col-md-6">
        <div class="icon-large ubuntu-shape pull-left">
            <img ng-src="{{app.icon}}" alt="{{app.name}}" />
        </div>

        <div class="pull-right">
            <types ng-model="app.types"></types>
        </div>

        <div class="clearfix visible-xs visible-sm"></div>

        <h2 ng-bind="app.name"></h2>
        <h4 ng-bind="app.tagline"></h4>

        <div>
            <a ng-href="openstore://{{app.id}}" class="primary" data-role="button" ng-hide="app.id == 'openstore.openstore-team'">Install</a>
            <a href="/docs#install" class="primary" data-role="button" ng-show="app.id == 'openstore.openstore-team'">Install</a>
            <a ng-href="{{app.download}}" class="secondary" data-role="button" target="_blank">Download</a>
            <a ng-href="{{app.source}}" class="information" data-role="button" ng-if="app.source">Source</a>

            <p class="small-note" ng-hide="app.id == 'openstore.openstore-team'">
                *You must have the OpenStore app installed on your phone for the "Install" button to work
            </p>
        </div>

        <div>
            <span class="label background-blue">v{{app.version}}</span>
            <span class="label background-orange" ng-bind="app.license"></span>
            <span class="label background-green" ng-bind="app.filesize|bytes"></span>
        </div>
        <div class="clearfix"></div>

        <div class="description" ng-if="app.description">
            <p ng-bind-html="app.description | nl2br"></p>
        </div>

        <div class="changelog" ng-if="app.changelog">
            <h4>Changelog:</h4>
            <p ng-bind-html="app.changelog | nl2br"></p>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Package Contents</h3>
        <div data-role="well">
            <div ng-repeat="(name, hook) in app.manifest.hooks">
                <h4>{{name}} ({{appType(hook)}})</h4>
                <p ng-class="{'text-red': hook.apparmor.template == 'unconfined'}">
                    Apparmor profile:
                    <span ng-if="hook.apparmor.template" ng-bind="hook.apparmor.template || 'None'"></span>
                </p>
                <p ng-if="hook.apparmor.policy_groups.length > 0">
                    Permissions:
                    <ul>
                        <li ng-repeat="policy in hook.apparmor.policy_groups" ng-bind="policy"></li>
                    </ul>
                </p>
                <p ng-if="hook.apparmor.read_path.length > 0">
                    Read Paths:
                    <ul>
                        <li ng-repeat="path in hook.apparmor.read_path" ng-bind="path"></li>
                    </ul>
                </p>
                <p ng-if="hook.apparmor.write_path.length > 0">
                    Write Paths:
                    <ul>
                        <li ng-repeat="path in hook.apparmor.write_path" ng-bind="path"></li>
                    </ul>
                </p>
            </div>
        </div>

        <a class="information secondary clickable" data-role="button" ng-click="manifest = !manifest">Manifest</a>
        <div ng-if="manifest">
            <pre ng-bind="app.manifest | json" data-role="well"></pre>
        </div>
    </div>
</div>
