<div class="row app-list" data-role="list">
    <div class="col-sm-4" ng-repeat="app in apps|orderBy:'name'">
        <div data-role="listitem" class="listitem">
            <a class="clickable" ui-sref="app({name: app.id})">
                <div class="pull-left">
                    <div class="icon ubuntu-shape">
                        <img ng-src="{{app.icon}}" alt="{{app.name}}" />
                    </div>
                </div>

                <div class="pull-right">
                    <types ng-model="app.types"></types>
                </div>

                <div class="listitem-content">
                    <h4 class="title" ng-bind="app.name"></h4>
                    <span class="tagline" ng-bind="app.tagline"></span>
                </div>
            </a>
        </div>
        <div ng-class="{clearfix: $index % 3 == 2}"></div>
    </div>
</div>
