<div>
    <div class="disclaimer">
        <a href="/docs#install">
            Welcome to the OpenStore, a place for hacking and exploring what is
            possible with Ubuntu. Install these apps at your own risk!
        </a>
    </div>

    <div class="row search-wrapper">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="input-group search-box">
                <input type="text" ng-model="query.search" class="form-control search" />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row app-list" data-role="list">
        <div class="col-sm-4" ng-repeat="app in apps|orderBy:'name'" ng-class="{clear: $index % 3 == 0}">
            <div data-role="listitem" class="listitem">
                <a class="clickable" ng-href="{{getUrl(app)}}">
                    <div class="pull-left">
                        <div class="icon ubuntu-shape">
                            <img ng-src="{{app.icon}}" alt="{{app.name}}" />
                        </div>
                    </div>

                    <div class="pull-right">
                        <types ng-model="app.types"></types>
                    </div>

                    <div class="listitem-content">
                        <h4 class="title" ng-bind="app.name"></h4>
                        <span class="tagline" ng-bind="app.tagline"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row" ng-if="pages.length > 1">
        <div class="col-xs-12">
            <nav class="center">
                <ul class="pagination">
                    <li ng-class="{disabled: page <= 0}">
                        <a class="clickable" ng-click="setPage(page - 1)">
                            <span>&laquo;</span>
                        </a>
                    </li>

                    <li ng-repeat="p in pages track by $index" ng-class="{active: page == $index}">
                        <a class="clickable" ng-click="setPage($index)" ng-bind="$index + 1"></a>
                    </li>

                    <li ng-class="{disabled: page >= (pages.length - 1)}">
                        <a class="clickable" ng-click="setPage(page + 1)">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
