<div>
    <div class="disclaimer">
        <a href="/docs#install">
            Welcome to the OpenStore, a place for hacking and exploring what is
            possible with Ubuntu Touch. Install these apps at your own risk!
        </a>
    </div>

    <div class="row toggle-row">
        <div class="col-sm-12">
            <div class="pull-right">
                <a href="/" data-role="button" class="primary" ng-class="{secondary: type == 'snappy', primary: type != 'snappy'}">
                    Phone Apps
                </a>

                <a href="/?type=snappy" data-role="button" ng-class="{primary: type == 'snappy', secondary: type != 'snappy'}">
                    Snaps
                </a>
            </div>
        </div>
    </div>

    <div class="row app-list" data-role="list">
        <div class="col-sm-4" ng-repeat="app in apps|orderBy:'name'">
            <div data-role="listitem" class="listitem">
                <a class="clickable" ui-sref="app({name: app.id})">
                    <div class="pull-left">
                        <div class="icon ubuntu-shape">
                            <img ng-src="{{app.icon}}" alt="{{app.name}}" />
                        </div>
                    </div>

                    <div class="pull-right">
                        <types ng-model="app.types"></types>
                    </div>

                    <div class="listitem-content">
                        <h4 class="title" ng-bind="app.name"></h4>
                        <span class="tagline" ng-bind="app.tagline"></span>
                    </div>
                </a>
            </div>
            <div ng-class="{clearfix: $index % 3 == 2}"></div>
        </div>
    </div>
</div>
