<div class="row">
    <div class="col-sm-12">
        <h1>Docs</h1>

        <ul>
            <li>
                <a href="/docs#install">How to Install</a>
            </li>
            <li>
                <a href="/docs#snap-store">How to use OpenStore with snapd</a>
            </li>
            <li>
                For any questions you may have or help you may need just chat
                with us on freenode #ubuntu-openstore or our
                <a href="https://telegram.me/joinchat/BMTh8AHtOL2foXLulmqDxw">telegram group</a>.
            </li>
        </ul>

        <div>
            <a id="install"></a>
            <h3>How to Install</h3>
            <ol>
                <li>
                    <a ng-href="{{data.download}}" target="_blank">
                        Download the OpenStore
                    </a>
                </li>
                <li>Open the terminal app</li>
                <li>Navigate to the downloads folder</li>
                <li>Run the command <code>pkcon install-local --allow-untrusted Downloads/openstore.openstore-team_{{data.version}}_armhf.click</code></li>
            </ol>
        </div>

        <div>
            <a id="snap-store"></a>
            <h3>How to use OpenStore with snapd</h3>
            <ol>
                <li>
                    <a href="http://snapcraft.io/">
                        Download and install snapcraft
                    </a>
                </li>
                <li>Edit <code>/etc/environment</code> and add the following: <code>SNAPPY_FORCE_CPI_URL=https://open.uappexplorer.com/api/snaps/</code></li>
                <li>
                    Restart snapd:

                    <ul>
                        <li>For Upstart: <code>service snapd restart</code></li>
                        <li>For Systemd: <code>systemctl restart snapd</code></li>
                    </ul>
                </li>
                <li>Browse the snapps in the OpenStore: <code>snap find</code></li>
            </ol>
        </div>
    </div>
</div>
