<div class="text-center login">
    <div class="icon-xlarge ubuntu-shape">
        <img src="/img/logo-grey.svg" alt="Login to the OpenStore" />
    </div>

    <div>
        <form action="{{login}}" method="post" class="">
            <button class="primary" data-role="button" type="submit" class="btn btn-warning">
                <i class="fa fa-linux"></i>
                Login via Ubuntu
            </button>
        </form>
    </div>

    <div class="small-note">
        *This feature is currently only open to admins.
    </div>
</div>
