<div class="text-center login">
    <div class="icon-xlarge ubuntu-shape">
        <img src="/img/logo.svg" alt="Login to the OpenStore" />
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <form action="{{loginUbuntu}}" method="post" class="">
                <button class="primary" data-role="button" type="submit" class="btn btn-warning">
                    <i class="fa fa-linux"></i>
                    Login via Ubuntu
                </button>
            </form>
        </div>

        <div class="col-md-3">
            <form action="{{loginGitHub}}" method="get" class="">
                <button class="secondary" data-role="button" type="submit" class="btn btn-warning">
                    <i class="fa fa-github"></i>
                    Login via GitHub
                </button>
            </form>
        </div>
    </div>
</div>
