<div class="row">
    <div class="col-sm-12">
        <h1>Welcome to the OpenStore for Ubuntu Touch!</h1>

        <p>
            It’s time to get some hacking started! This is an attempt to bootstrap
            some hacking community around the devices that wants to explore the
            phone beyond of what the platform offers to the normal user at this
            time. The OpenStore allows hackers to install applications that
            can’t be published to the official store. This really is not about
            competing with the official Ubuntu store, but is meant as an extension
            for power users and developers.
        </p>

        <p>
            The OpenStore opens doors for possibilities to break your Ubuntu
            installation. Only install it if you know what you’re doing, install
            it at your own risk!
        </p>

        <p>
            Join us on freenode #ubuntu-openstore or our
            <a href="https://telegram.me/joinchat/BMTh8AHtOL2foXLulmqDxw">telegram group</a>
            with any questions, help, or suggestions!
        </p>

        <p class="text-center">
            <a href="/docs#install" class="primary" data-role="button">Install</a>
            <a href="/app/openstore.mzanetti" class="secondary" data-role="button">Download</a>
        </p>

        <p>
            Happy Hacking!
        </p>
    </div>
</div>
