<div class="manage">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                Packages
                <i class="fa fa-spinner fa-spin" ng-if="loading"></i>
            </h3>

            <div class="pull-right">
                <!--TODO make an admin menu, this is out of place here-->
                <a href="/users" data-role="button" class="secondary clickable" ng-if="user.role == 'admin'">
                    <i class="fa fa-user"></i>
                    Manage Users
                </a>

                <a href="/manage/create" data-role="button" class="primary">
                    <i class="fa fa-plus"></i>
                    New Package
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm">ID</th>
                        <th class="hidden-xs hidden-sm">Name</th>
                        <th class="hidden-xs hidden-sm">Status</th>
                        <th class="hidden-xs hidden-sm">Type(s)</th>
                        <th class="hidden-xs hidden-sm">Author</th>
                        <th class="hidden-xs hidden-sm">Version</th>
                        <th class="hidden-xs hidden-sm">Category</th>
                        <th class="visible-xs visibile-sm">Package</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pkg in packages|orderBy:'name'">
                        <td ng-bind="pkg.id" class="hidden-xs hidden-sm"></td>
                        <td ng-bind="pkg.name" class="hidden-xs hidden-sm"></td>
                        <td class="hidden-xs hidden-sm">
                            <span ng-if="pkg.published">Published</span>
                            <span ng-if="!pkg.published">Not published</span>
                        </td>
                        <td ng-bind="pkg.types.join(', ')" class="hidden-xs hidden-sm"></td>
                        <td ng-bind="pkg.author" class="hidden-xs hidden-sm"></td>
                        <td ng-bind="pkg.version" class="hidden-xs hidden-sm"></td>
                        <td ng-bind="pkg.category" class="hidden-xs hidden-sm"></td>
                        <td class="visible-xs visibile-sm">
                            <b>{{pkg.name}}</b> v{{pkg.version}}
                            <br/>
                            {{pkg.types.join(', ')}}
                            <br/>
                            {{pkg.author}}
                        </td>
                        <td>
                            <a ng-href="/manage/{{pkg.id}}" data-role="button" class="primary" title="Edit">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
