<div class="manage">
    <div class="row">
        <div class="col-sm-12">
            <a href="/manage/create" data-role="button" class="primary clickable pull-right">
                <i class="fa fa-plus"></i>
                New Package
            </a>

            <a href="/users" data-role="button" class="secondary clickable pull-right" ng-if="user.role == 'admin'">
                <i class="fa fa-user"></i>
                Manage Users
            </a>

            <h3>
                Packages
                <i class="fa fa-spinner fa-spin" ng-if="loading"></i>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Version</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="package in packages|orderBy:'name'">
                        <td ng-bind="package.id"></td>
                        <td ng-bind="package.name"></td>
                        <td ng-bind="package.author"></td>
                        <td ng-bind="package.version"></td>
                        <td ng-bind="package.category"></td>
                        <td>
                            <a ng-click="stats(package)" data-role="button" class="information small clickable">
                                <i class="fa fa-fw fa-info-circle"></i> Stats
                            </a>
                            <a ng-href="/manage/{{package.id}}" data-role="button" class="primary small">
                                <i class="fa fa-fw fa-edit"></i> Edit
                            </a>
                            <a ng-click="remove(package)" data-role="button" class="secondary small clickable">
                                <i class="fa fa-fw fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
