<div>
    <h1>
        <a href="/manage"><i class="fa fa-chevron-left"></i></a>

        <span ng-if="pkg.id">Edit: {{name}}</span>
        <span ng-if="!pkg.id">New Package</span>
        <i ng-if="loading" class="fa fa-spinner fa-spin"></i>
    </h1>

    <form class="form-horizontal" role="form" ng-show="!loading">
        <div class="form-group" ng-if="pkg.id">
            <label for="id" class="col-sm-2 control-label">Publish</label>
            <div class="col-sm-10">
                <i class="clickable toggle fa fa-3x" ng-class="{'fa-toggle-off': !pkg.published, 'fa-toggle-on': pkg.published}" ng-click="pkg.published = !pkg.published"></i>
            </div>
        </div>

        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">
                <span ng-if="pkg.id">Upload New Version</span>
                <span ng-if="!pkg.id">Upload Package</span>
            </label>
            <div class="col-sm-10">
                <div class="information clickable" data-role="button" ngf-select ngf-multiple="false" ngf-change="setFile($files)">
                    <i class="fa fa-file-archive-o"></i>
                    File
                </div>
                <span ng-bind="file.name"></span>
            </div>
        </div>

        <div ng-show="pkg.id">
            <div class="form-group">
                <label class="col-sm-2 control-label">Screenshots</label>
                <div class="col-sm-10">
                    We've grown to fast! Image uploads are temporarily disabled.
                    <!--<input id="uploadcare" type="hidden" data-images-only="true" data-multiple="true" data-multiple-max="5" />-->
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="pkg.name" />
                </div>
            </div>

            <div class="form-group">
                <label for="tagline" class="col-sm-2 control-label">Tag Line</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tagline" placeholder="Tag Line" ng-model="pkg.tagline" />
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" placeholder="Description" ng-model="pkg.description" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="changelog" class="col-sm-2 control-label">Changelog</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="changelog" placeholder="Changelog" ng-model="pkg.changelog" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="keywords" class="col-sm-2 control-label">Keywords</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="keywords" placeholder="Keywords" ng-model="keywords" />
                    <span class="small text-muted">A comma separated list of keywords</span>
                </div>
            </div>

            <div class="form-group">
                <label for="source" class="col-sm-2 control-label">Source URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="source" placeholder="Source URL" ng-model="pkg.source" />
                </div>
            </div>

            <div class="form-group">
                <label for="support" class="col-sm-2 control-label">Support URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="support" placeholder="Support URL" ng-model="pkg.support_url" />
                </div>
            </div>

            <div class="form-group">
                <label for="donate" class="col-sm-2 control-label">Donate URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="donate" placeholder="Donate URL" ng-model="pkg.donate_url" />
                </div>
            </div>

            <div class="form-group">
                <label for="license" class="col-sm-2 control-label">License</label>
                <div class="col-sm-10">
                    <select id="license" class="form-control" ng-options="l for l in licenses" ng-model="pkg.license">
                        <option value="">Choose a license</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                    <select id="category" class="form-control" ng-options="c for c in categories" ng-model="pkg.category">
                        <option value="">Choose a category</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="users && user.role == 'admin'">
                <label for="maintainer" class="col-sm-2 control-label">Maintainer</label>
                <div class="col-sm-10">
                    <select id="maintainer" class="form-control" ng-options="u._id as u.name for u in users" ng-model="pkg.maintainer">
                        <option value="">Choose a maintainer</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Package Info</label>
                <div class="col-sm-10">
                    ID: {{pkg.id}}
                    <br/> Author: {{pkg.author}}
                    <br/> Version: {{pkg.version}}
                    <br/> Architecture: {{pkg.architecture}}
                    <br/> Framework: {{pkg.framework}}
                    <br/> File Size: {{pkg.filesize | bytes}}
                    <br/>
                    <span ng-if="pkg.types.length != 1">Types</span>
                    <span ng-if="pkg.types.length == 1">Type</span>
                    : {{pkg.types.join(', ')}}

                    <br/> Public Link: <a ng-href="{{getUrl(pkg)}}" target="_blank">{{getUrl(pkg)}}</a>
                </div>
            </div>

            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">Download Stats</label>
                <div class="col-sm-10">
                    <div ng-repeat="(version, downloads) in pkg.downloads">
                        {{version | versionFix}}: {{downloads}}
                    </div>
                    <div ng-if="pkg.totalDownloads > 0">
                        Total: {{pkg.totalDownloads}}
                    </div>
                    <div ng-if="pkg.totalDownloads <= 0">
                        No downloads yet!
                    </div>
                </div>
            </div>
        </div>
    </form>

    <span class="text-danger" ng-bind="error"></span>
    <span class="text-success" ng-if="success">Saved!</span>

    <div class="pull-right">
        <a href="/manage" class="secondary" data-role="button">
            <i class="fa fa-times"></i>
            Cancel
        </a>

        <button ng-click="save(pkg)" class="primary" data-role="button" ng-disabled="saving">
            <span ng-show="pkg.id">
                <i class="fa" ng-class="{'fa-spinner fa-spin': saving, 'fa-check': !saving}"></i>
                Save
            </span>
            <span ng-show="!pkg.id">
                <i class="fa" ng-class="{'fa-spinner fa-spin': saving, 'fa-plus': !saving}"></i>
                Submit
            </span>
        </button>
    </div>
</div>
