<div class="manage">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <!--TODO make an admin menu, this is out of place here-->
                <a href="/users" data-role="button" class="secondary clickable" ng-if="user.role == 'admin'">
                    <i class="fa fa-user"></i>
                    Manage Users
                </a>

                <a href="/manage/create" data-role="button" class="primary">
                    <i class="fa fa-plus"></i>
                    New Package
                </a>
            </div>

            <h3>
                Packages
                <i class="fa fa-spinner fa-spin" ng-if="loading"></i>
            </h3>

            <div class="input-group search-box">
                <input type="text" ng-model="search" class="form-control search" />
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th class="hidden-xs hidden-sm">Name</th>
                        <th class="hidden-xs hidden-sm" ng-if="user.role == 'admin'">Author</th>
                        <th class="hidden-xs hidden-sm">Status</th>
                        <th class="hidden-xs hidden-sm">Version</th>
                        <th class="hidden-xs hidden-sm">Downloads</th>
                        <th class="visible-xs visible-sm">App</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pkg in filteredPackages|orderBy:'name'" class="clickable" ng-click="goTo(pkg.id)">
                        <td>
                            <div class="icon ubuntu-shape">
                                <img ng-src="{{pkg.icon}}" alt="{{pgk.name}}" />
                            </div>
                        </td>
                        <td class="hidden-xs hidden-sm" ng-bind="pkg.name"></td>
                        <td class="hidden-xs hidden-sm" ng-if="user.role == 'admin'" ng-bind="pkg.author"></td>
                        <td class="hidden-xs hidden-sm">
                            <span ng-if="pkg.published" class="text-success">Published</span>
                            <span ng-if="!pkg.published" class="text-muted">Not published</span>
                        </td>
                        <td class="hidden-xs hidden-sm" ng-bind="pkg.version"></td>
                        <td class="hidden-xs hidden-sm">{{pkg.totalDownloads || 'None'}}</td>
                        <td class="visible-xs visible-sm">
                            <div>{{pkg.name}}</div>
                            <div ng-if="user.role == 'admin'">{{pkg.author}}</div>

                            <span ng-if="pkg.published" class="text-success">Published</span>
                            <span ng-if="!pkg.published" class="text-muted">Not published</span>

                            <div>Downloads: {{pkg.totalDownloads || 'None'}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
