<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('x button')">
        <i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title">
        Package
        <span ng-show="pkg.id">Edit: {{pkg.name}}</span>
        <span ng-show="!pkg.id">Create</span>
    </h4>
</div>

<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Upload Click Package</label>
            <div class="col-sm-10">
                <div class="information" data-role="button" ngf-select ngf-multiple="false" ngf-change="setFile($files)">
                    <i class="fa fa-file-archive-o"></i>
                    File
                </div>
                <span ng-bind="file.name"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Package Info</label>
            <div class="col-sm-10">
                ID: {{pkg.id}}
                <br/> Name: {{pkg.name}}
                <br/> Author: {{pkg.author}}
                <br/> Version: {{pkg.version}}
                <br/> Architecture: {{pkg.architecture}}
                <br/> Framework: {{pkg.framework}}
                <br/> File Size: {{pkg.filesize | bytes}}
                <br/> Types: {{pkg.types.join(', ')}}
            </div>
        </div>

        <div class="form-group">
            <label for="tagline" class="col-sm-2 control-label">Tag Line</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="tagline" placeholder="Tag Line" ng-model="pkg.tagline" />
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description" placeholder="Description" ng-model="pkg.description" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="changelog" class="col-sm-2 control-label">Changelog</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="changelog" placeholder="Changelog" ng-model="pkg.changelog" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="source" class="col-sm-2 control-label">Source URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="source" placeholder="Source URL" ng-model="pkg.source" />
            </div>
        </div>

        <div class="form-group">
            <label for="license" class="col-sm-2 control-label">License</label>
            <div class="col-sm-10">
                <select id="license" class="form-control" ng-options="l for l in $parent.licenses" ng-model="pkg.license">
                    <option value="">Choose a license</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select id="category" class="form-control" ng-options="c for c in $parent.categories" ng-model="pkg.category">
                    <option value="">Choose a category</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="maintainer" class="col-sm-2 control-label">Maintainer</label>
            <div class="col-sm-10">
                <select id="maintainer" class="form-control" ng-options="u._id as u.name for u in $parent.users" ng-model="pkg.maintainer">
                    <option value="">Choose a maintainer</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <span class="text-danger" ng-bind="error"></span>

    <button ng-click="cancel()" class="secondary" data-role="button">
        <i class="fa fa-times"></i>
        Cancel
    </button>

    <button ng-click="save(pkg)" class="primary" data-role="button" ng-disabled="saving">
        <span ng-show="pkg.id">
            <i class="fa" ng-class="{'fa-spinner fa-spin': saving, 'fa-check': !saving}"></i>
            Save
        </span>
        <span ng-show="!pkg.id">
            <i class="fa" ng-class="{'fa-spinner fa-spin': saving, 'fa-plus': !saving}"></i>
            Create
        </span>
    </button>
</div>
