@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/Ubuntu.woff2) format('woff2');
}

body {
    font-family: 'Ubuntu', sans-serif !important;
}

.icon {
    height: 64px;
    width: 64px;
}

.icon img {
    border-radius: 1.4rem;
}

.ubuntu-shape {
    display: inline-block;
    max-width: 100%;
    vertical-align: bottom;
    position: relative;
    z-index: 5;
}

.ubuntu-shape:after {
    background: url(../img/ubuntu-shape.png) no-repeat;
    background-size: 100% 100%;
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.ubuntu-shape img {
    height: 100% !important;
    width: 100% !important;
    margin-bottom: 0;
    display: inline-block;
}

.icon-large {
    height: 92px;
    width: 92px;
    margin-bottom: 10px;
}

.icon-large img {
    border-radius: 2rem;
}

.icon-xlarge {
    width: 184px;
    height: 184px;
    margin-bottom: 10px;
}

.icon-xlarge img {
    border-radius: 4.1rem;
}

.clickable {
    cursor: pointer;
}

.app .icon-large {
    margin-right: 16px;
}

.app h2 {
    margin-top: 0px;
}

.description {
    margin-top: 10px;
}

.small-note {
    font-size: 10px;
    margin-top: 5px;
}

.tab-content {
    margin-top: 5px;
}

.main-container {
    padding-top: 80px;
}

.navbar-brand {
    display: block;
    margin-top: 5px;
}

.navbar-collapse {
    margin-top: 5px;
}

.app-list .listitem {
    min-height: 75px;
    display: block;
    margin-bottom: 10px;
}

.app-list .listitem a {
    min-height: 75px;
    display: block;
}

.listitem-content {
    margin-left: 75px;
}

.tagline {
    padding-right: 60px;
    display: block;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
}

.changelog {
    margin-top: 20px;
}

.icon-bar {
    background-color: #FFFFFF !important;
}

.navbar-brand > img {
    margin-right: 5px;
    margin-top: -11px;
    height: 40px;
    width: 40px;
    display: inline-block !important;
}

.navbar a.navbar-brand:hover {
    background-color: #424242 !important;
}

.disclaimer {
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.footer {
    border-top: 1px solid #424242;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.right-align {
    text-align: right;
}

.manage .secondary {
    margin-right: 10px;
}

.users select {
    width: 125px;
    display: inline-block;
}

.login div {
    margin-bottom: 10px;
}

.toggle-row {
    margin-bottom: 15px;
}

.clear {
    clear: both;
}
